In [2]:
import pandas as pd

# Load datasets from local files
airports = pd.read_csv("airports.csv")
weather = pd.read_csv("weather.csv")

# Display first few rows
print("Airports Data:")
display(airports.head())
print("\nWeather Data:")
display(weather.head())


# Find the northernmost airport
northernmost_airport = airports.loc[airports['lat'].idxmax()]
print("Northernmost airport in the US:")
print(northernmost_airport[['faa', 'name', 'lat', 'lon']])

# Find the easternmost airport
easternmost_airport = airports.loc[airports['lon'].idxmax()]
print("Easternmost airport in the US:")
print(easternmost_airport[['faa', 'name', 'lat', 'lon']])

# Filter weather data for February 12, 2013, in New York area airports
ny_airports = ['JFK', 'LGA', 'EWR']
weather_ny_feb12 = weather[(weather['origin'].isin(ny_airports)) & (weather['year'] == 2013) & 
                           (weather['month'] == 2) & (weather['day'] == 12)]

# Find the airport with the highest wind speed on this date
windiest_airport = weather_ny_feb12.loc[weather_ny_feb12['wind_speed'].idxmax()]
print("Windiest NY area airport on February 12, 2013:")
print(windiest_airport[['origin', 'wind_speed']])

Airports Data:

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago
3,06N,Randall Airport,41.431912,-74.391561,523,-5,A,America/New_York
4,09J,Jekyll Island Airport,31.074472,-81.427778,11,-5,A,America/New_York

Weather Data:

,origin,year,month,day,hour,temp,dewp,humid,wind_dir,wind_speed,wind_gust,precip,pressure,visib,time_hour
0,EWR,2013,1,1,1,39.02,26.06,59.37,270.0,10.35702,NaN,0.0,1012.0,10.0,2013-01-01T06:00:00Z
1,EWR,2013,1,1,2,39.02,26.96,61.63,250.0,8.05546,NaN,0.0,1012.3,10.0,2013-01-01T07:00:00Z
2,EWR,2013,1,1,3,39.02,28.04,64.43,240.0,11.50780,NaN,0.0,1012.5,10.0,2013-01-01T08:00:00Z
3,EWR,2013,1,1,4,39.92,28.04,62.21,250.0,12.65858,NaN,0.0,1012.2,10.0,2013-01-01T09:00:00Z
4,EWR,2013,1,1,5,39.02,28.04,64.43,260.0,12.65858,NaN,0.0,1011.9,10.0,2013-01-01T10:00:00Z

Northernmost airport in the US:
faa                         EEN
name    Dillant Hopkins Airport
lat                   72.270833
lon                   42.898333
Name: 417, dtype: object
Easternmost airport in the US:
faa              SYA
name    Eareckson As
lat        52.712275
lon        174.11362
Name: 1290, dtype: object
Windiest NY area airport on February 12, 2013:
origin               EWR
wind_speed    1048.36058
Name: 1009, dtype: object